<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84399204863-ed0qjl0tangvkssnhr9bfih977g4jfhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84399204863-ed0qjl0tangvkssnhr9bfih977g4jfhm</string>
	<key>API_KEY</key>
	<string>AIzaSyCiy7TOjq0V9wRv980gaho8x-jna5fa0hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>84399204863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romario.eidea.emergencyidea</string>
	<key>PROJECT_ID</key>
	<string>emergency-road-assister</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-road-assister.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84399204863:ios:5c7d825280b85581759fca</string>
</dict>
</plist>